@import url(sanitize.css);
.content {
    text-align: center;
    background-color: rgb(56, 87, 35);
    width: 600px;
    margin: 10px auto;
    border: 8px solid olive;
    padding: 20px;
}
h1 {
    font-size: 28px;
    margin: 0;
    color: yellow;
}
h2 {
    font-size: 24px;
    margin: 0;
    color: aqua;
}
h3 {
    font-size: 20px;
    margin: 0;
    color: fuchsia;
}
h4 {
    font-size: 18px;
    margin: 0;
    color: lime;
}
p {
    font-size: 16px;
    margin: 0;
    color: white;
}
